.detailContainer p {
    margin-bottom: 10px;
    
}

.detailContainer h2{
    /* margin-top: 10px; */
    margin-bottom: 10px;
}


.mapContainer{
    margin: auto;
    width: 50%;
}

.details {
    background-color: #61dafb;
}

.detailContainer{
    background: url('../image/NewEdit.jpeg') no-repeat center fixed;
    background-size: cover;
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;

    position: fixed;
}