.detailContainer p {
    margin-bottom: 5px;
    
}

.detailContainer h2{
    margin-bottom: 5px;
}


.mapContainer{
    margin: auto;
    width: 50%;
    margin-top: 10px;
}

.details {
    background-color: #61dafb;
}

.detailContainer{
    background-size: cover;
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: auto;

    position: fixed;
}